@model IEnumerable<PostAllViewModel>

@{
    ViewData["Title"] = "My Posts";
}

<div class="text-center mt-4 mb-4">
    <h1>My Posts</h1>
    <hr></hr>
</div>

@if (!Model.Any())
{
    <h2 class="text-center mt-5">
        You have no created posts yet!
    </h2>
}

<div class="mt-4">
    @* Model.Posts *@
    @foreach (var post in Model)
    {
        <partial name="~/Views/Post/_PostFormPartial.cshtml" model="@post" />
    }
</div>