@{
    ViewData["Title"] = "Home Page";
}

<div class="mt-4 p-5 bg-light text-center">
    <h2 class="display-4">Hello, Admin!</h2>
    <h5>Here you can see all of the information about posts and groups. You can delete and edit them. Also you can see all of the users that have account in the app.</h5>
</div>
