@model GroupDeleteViewModel

@{
    ViewBag.Title = "Delete Group";

}

<h2 class="text-center mt-3">@ViewBag.Title</h2>
<hr />

<form asp-controller="Group" asp-action="Delete">
    <div class="row">
        <div class="col-md-12 backDel shadow-lg">
            <div class="form-group mb-3">
                <label asp-for="Name" class="control-label">Group Name</label>
                <input asp-for="Name" class="form-control text-center" disabled readonly />
            </div>
            <div class="form-group mb-3">
                <label asp-for="Category" class="control-label">Group Category</label>
                <input asp-for="Category" class="form-control text-center" disabled readonly />
            </div>
            <div class="form-group mb-3">
                <label asp-for="CreatorFullName" class="control-label">Creator Name</label>
                <input asp-for="CreatorFullName" class="form-control text-center" disabled readonly />
            </div>

            <div class="form-group mt-3 text-center">
                <input type="submit" value="Delete" class="btn btn-danger" />
            </div>
        </div>
    </div>
</form>
