@model GroupPostQueryModel


@{
    ViewData["Title"] = "All posts from this group";
}

<div class="d-flex justify-content-between align-items-center align-content-center mt-4 me-2 ms-2">
    <h1>@ViewData["Title"]</h1>
    <a asp-controller="Group" asp-action="AddPostToGroup" asp-route-groupId="@Model.GroupId" class="btn btn-primary w-25">Add post +</a>
</div>

<hr></hr>

<div class="row">
    @if (!Model.Posts.Any())
    {
        <h2 class="text-center mt-5">
            This group has no posts added yet!
        </h2>
    }
    <div class="mt-4">

        @foreach (var post in Model.Posts)
        {
            <partial name="~/Views/Post/_PostFormPartial.cshtml" model="@post" />
        }
    </div>
</div>