@model GroupPostQueryModel


@{
    ViewData["Title"] = "All posts from this group";
}

<style>
    body {
        background-image: url('https://img.freepik.com/free-photo/abstract-luxury-plain-blur-grey-black-gradient-used-as-background-studio-wall-display-your-products_1258-71061.jpg?t=st=1711055759~exp=1711056359~hmac=5c6901fa900b6bffff8fc16990f350d18d3c6a0d686580524869d101f23e91c0');
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
</style>

<div class="d-flex justify-content-between align-items-center align-content-center mt-4 me-2 ms-2">
    <h1>@ViewData["Title"]</h1>
    <a asp-controller="Group" asp-action="AddPostToGroup" asp-route-groupId="@Model.GroupId" class="btn btn-primary w-25">Add post +</a>
</div>

<hr></hr>

<div class="row">
    @if (!Model.Posts.Any())
    {
        <h2 class="text-center mt-5">
            This group has no posts added yet!
        </h2>
    }
    <div class="mt-4">
        
        @foreach (var post in Model.Posts)
        {
            <partial name="~/Views/Post/_PostFormPartial.cshtml" model="@post" />
        }
    </div>
</div>