@{
    ViewData["Title"] = "All Posts";
}
<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-image: url('https://img.freepik.com/free-photo/abstract-luxury-plain-blur-grey-black-gradient-used-as-background-studio-wall-display-your-products_1258-71061.jpg?t=st=1711055759~exp=1711056359~hmac=5c6901fa900b6bffff8fc16990f350d18d3c6a0d686580524869d101f23e91c0');
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
    </style>
    <title></title>
</head>
<body>
    @* @foreach (var post in @model)
    {

    } *@
    <div class="card text-center my-3 myCard">
        <div class="card-header">
            Category
        </div>
        <div class="card-body">
            <h5 class="card-title">Title</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Comments Section</a>
        </div>
        <div class="card-footer text-body-secondary">
            2 days ago
        </div>
    </div>

</body>
</html>

