@{
    ViewData["Title"] = "All Posts";
}

<style>
    /* .myCard {
        max-width: 22rem;
    } */
</style>

<div class="mainBody">
    @* @foreach (var post in @model)
    {
        
    } *@
    <div class="card text-center mt-5 myCard">
        <div class="card-header">
            Category
        </div>
        <div class="card-body">
            <h5 class="card-title">Title</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Comments Section</a>
        </div>
        <div class="card-footer text-body-secondary">
            2 days ago
        </div>
    </div>
</div>

