@model IEnumerable<PostAllViewModel>

@{
    ViewData["Title"] = "Liked Posts";
}

<style>
    body {
        background-image: url('https://img.freepik.com/free-photo/abstract-luxury-plain-blur-grey-black-gradient-used-as-background-studio-wall-display-your-products_1258-71061.jpg?t=st=1711055759~exp=1711056359~hmac=5c6901fa900b6bffff8fc16990f350d18d3c6a0d686580524869d101f23e91c0');
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .likes {
        background-color: #AEF1FF;
        border-radius: 0.3em;
        padding-top: 0.3em;
        padding-bottom: 0.3em;
        padding-right: 0.5em;
        padding-left: 0.5em;
    }

    .date {
        background-color: #D0D0D0;
        border-radius: 0.3em;
        padding-top: 0.3em;
        padding-bottom: 0.3em;
        padding-right: 1em;
        padding-left: 1em;
    }
</style>

<div class="text-center mt-4 mb-4">
    <h1>Your Liked Posts</h1>
    <hr></hr>
</div>

@if (!Model.Any())
{
    <h2 class="text-center mt-5">
        You have no liked posts yet!
    </h2>
}

<div class="mt-4">
    @* Model.Posts *@
    @foreach (var post in Model)
    {
        <partial name="_PostFormPartial" model="@post" />
    }
</div>