@{
    ViewData["Title"] = "Home Page";
}

<style>
    img {
        filter: blur(2px);
        -webkit-filter: blur(2px);
        filter: brightness(60%);
    }

    .colored {
        background-color: #71616E;
        border: 2px solid #71616E;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Post your experiences, activities and more in the newest and trending social app. Make new friends. BeSocial!</h1>
    <div>
        <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner rounded-2">
                <div class="carousel-item active">
                    <img class="bd-placeholder-img" width="100%" height="100%" src="https://images.unsplash.com/photo-1501436513145-30f24e19fcc8?q=80&w=1976&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)" /></img>
                    <div class="container">
                        <div class="carousel-caption text-start">
                            <h1>Еxplore the endless world</h1>
                            <p class="opacity-75">View all posts around you!</p>
                            <p><button class="btn btn-lg colored"><a class="nav-link text-white" asp-action="All" asp-controller="Post">All Posts</a></button></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="bd-placeholder-img" width="100%" height="100%" src="https://images.unsplash.com/photo-1582213782179-e0d53f98f2ca?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)" /></img>
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>We are stronger together</h1>
                            <p>Make new friends. Help each other! Be Social!</p>
                            <p><button class="btn btn-lg btn-light"><a class="nav-link text-black" asp-action="" asp-controller="">Friend Sugestions</a></button></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="bd-placeholder-img" width="100%" height="100%" src="https://images.ctfassets.net/7thvzrs93dvf/1oh4HOUh4r98F9oLuhhwAf/5e9edcf40f428fdd6771f9e9bafc54aa/Smiley_wallpaper.jpg?w=1000&h=667&fl=progressive&q=90&fm=jpg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)" /></img>
                    <div class="container">
                        <div class="carousel-caption text-end">
                            <h1>Don't have an account? Create one now!</h1>
                            <p><button class="btn btn-lg btn-primary"><a class="nav-link text-white " asp-area="Identity" asp-page="/Account/Register">Register</a></button></p>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>


</div>

